@import '../core/vars';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/tables';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/list-group';

@import 'swiper/swiper.scss';
@import 'swiper/components/lazy/lazy.scss';
@import 'swiper/components/thumbs/thumbs.scss';
@import 'swiper/components/effect-fade/effect-fade.scss';

$lg-path-fonts: 'lightgallery.js/src/fonts';
$lg-path-images: 'lightgallery.js/src/img';
$zindex-outer: 2000;
$zindex-backdrop: 1900;
@import 'lightgallery.js/src/sass/lg-variables';
@import 'lightgallery.js/src/sass/lg-mixins';
@import 'lightgallery.js/src/sass/lg-fonts';
@import 'lightgallery.js/src/sass/lg-theme-default';
@import 'lightgallery.js/src/sass/lg-thumbnail';
@import 'lightgallery.js/src/sass/lg-zoom';
@import 'lightgallery.js/src/sass/lg-pager';
@import 'lightgallery.js/src/sass/lg-fullscreen';
@import 'lightgallery.js/src/sass/lg-transitions';

.lg-group {
  *zoom: 1;
}

.lg-group:before,
.lg-group:after {
  content: '';
  display: table;
  line-height: 0;
}

.lg-group:after {
  clear: both;
}

// lightgallery core
.lg-outer {
  height: 100%;
  left: 0;
  opacity: 0;
  outline: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-outer;
  @include transition(opacity 0.15s ease 0s);

  * {
    @include box-sizing(border-box);
  }

  &.lg-visible {
    opacity: 1;
  }

  // Set transition speed and timing function
  &.lg-css3 {
    .lg-item {
      &.lg-prev-slide,
      &.lg-next-slide,
      &.lg-current {
        @include transition-duration(inherit !important);
        @include transition-timing-function(inherit !important);
      }
    }
  }

  // Remove transition while dragging
  &.lg-css3.lg-dragging {
    .lg-item {
      &.lg-prev-slide,
      &.lg-next-slide,
      &.lg-current {
        opacity: 1;
        @include transition-duration(0s !important);
      }
    }
  }

  // Set cursor grab while dragging
  &.lg-grab {
    img.lg-object {
      @include grab-cursor;
    }
  }

  &.lg-grabbing {
    img.lg-object {
      @include grabbing-cursor;
    }
  }

  .lg {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .lg-inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;
  }

  .lg-item {
    background: url('#{$lg-path-images}/loading.gif') no-repeat scroll center center transparent;
    display: none !important;
  }

  &.lg-css3 {
    .lg-prev-slide,
    .lg-current,
    .lg-next-slide {
      display: inline-block !important;
    }
  }

  &.lg-css {
    .lg-current {
      display: inline-block !important;
    }
  }

  .lg-item,
  .lg-img-wrap {
    display: inline-block;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 50%;
      margin-right: -1px;
      width: 1px;
    }
  }

  .lg-img-wrap {
    bottom: 0;
    left: 0;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .lg-item {
    &.lg-complete {
      background-image: none;
    }

    &.lg-current {
      z-index: $zindex-item;
    }
  }

  .lg-image {
    display: inline-block;
    height: auto !important;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    width: auto !important;
  }

  &.lg-show-after-load {
    .lg-item {
      .lg-object,
      .lg-video-play {
        opacity: 0;
        @include transition(opacity 0.15s ease 0s);
      }

      &.lg-complete {
        .lg-object,
        .lg-video-play {
          opacity: 1;
        }
      }
    }
  }

  // Hide title div if empty
  .lg-empty-html {
    display: none;
  }

  &.lg-hide-download {
    #lg-download {
      display: none;
    }
  }
}

.lg-backdrop {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-backdrop;
  @include transition(opacity 0.15s ease 0s);

  &.in {
    opacity: $backdrop-opacity;
  }
}

// Default slide animations. Should be placed at the bottom of the animation css
.lg-css3 {
  // Remove all transition effects
  &.lg-no-trans {
    .lg-prev-slide,
    .lg-next-slide,
    .lg-current {
      @include transitionCustom(none 0s ease 0s !important);
    }
  }

  &.lg-use-css3 {
    .lg-item {
      @include backface-visibility(hidden);
    }
  }

  &.lg-use-left {
    .lg-item {
      @include backface-visibility(hidden);
    }
  }

  // Fade mode
  &.lg-fade {
    .lg-item {
      opacity: 0;

      &.lg-current {
        opacity: 1;
      }

      // transition timing property and duration will be over written from javascript
      &.lg-prev-slide,
      &.lg-next-slide,
      &.lg-current {
        @include transitionCustom(opacity 0.1s ease 0s);
      }
    }
  }

  &.lg-slide {
    &.lg-use-css3 {
      .lg-item {
        opacity: 0;

        &.lg-prev-slide {
          @include translate3d(-100%, 0, 0);
        }

        &.lg-next-slide {
          @include translate3d(100%, 0, 0);
        }

        &.lg-current {
          opacity: 1;
          @include translate3d(0, 0, 0);
        }

        // transition timing property and duration will be over written from javascript
        &.lg-prev-slide,
        &.lg-next-slide,
        &.lg-current {
          @include transitionCustom(transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s);
        }
      }
    }

    &.lg-use-left {
      .lg-item {
        left: 0;
        opacity: 0;
        position: absolute;

        &.lg-prev-slide {
          left: -100%;
        }

        &.lg-next-slide {
          left: 100%;
        }

        &.lg-current {
          left: 0;
          opacity: 1;
        }

        // transition timing property and duration will be over written from javascript
        &.lg-prev-slide,
        &.lg-next-slide,
        &.lg-current {
          @include transitionCustom(left 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s);
        }
      }
    }
  }
}

.product-filter-wrap {
  strong {
    display: block;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;

    &::after {
      background: #efefef;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  .form-check {
    margin: 0;
  }

  img {
    width: auto;
  }
}

.filter-item-title {
  margin: 20px 0 1rem;

  .btn {
    align-items: center;
    display: inline-flex;
    text-transform: uppercase;
  }

  @include media-breakpoint-up(md) {
    margin: 30px 0 1rem;
  }
}

.filter-item {
  margin: 0 0 1rem;
}

.form-check-input-image {
  display: none;
}

.form-check-label-image {
  border: 1px solid #dedede;
  cursor: pointer;
  padding: 5px;

  .form-check-input-image:checked + & {
    border-color: $primary-color;
  }
}

.shop-toolbar {
  border-bottom: 1px solid #efefef;
  font-size: 0.9rem;
  margin-bottom: 30px;
  padding-bottom: 1rem;

  .btn {
    align-items: center;
    display: inline-flex;
    font-size: 21px;
    justify-content: center;
  }
}

.product-item {
  display: flex;
  position: relative;

  .item-image {
    height: 300px;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .item-badge {
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 5;
  }

  &:hover {
    .product-instock {
      opacity: 1;

      .btn-order {
        transform: translateY(0);
      }
    }
  }
}

.product-instock {
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 300px;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: $transition-base;
  z-index: 10;

  .btn-order {
    align-items: center;
    background: #fff;
    border: 0;
    border-radius: $border-radius;
    box-shadow: none;
    display: inline-flex;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 8px;
    transform: translateY(2rem);
    transition: $transition-base;

    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }
}

.product-outstock {
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  height: 300px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;

  span {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    color: $text-color;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
  }
}

.item-badge {
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;

  .p-new {
    background: $success;
    border-radius: $border-radius;
    padding: 6px 10px;
  }

  .p-sale {
    background: $danger;
    border-radius: $border-radius;
    padding: 6px 10px;
  }
}

.item-info {
  color: $text-color;
  margin-top: 1rem;

  .name {
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    font-weight: 500;
    -webkit-line-clamp: 2;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-weight: 700;
  }

  .price-discount {
    font-size: smaller;
    margin-left: 1rem;
    opacity: 0.5;
    text-decoration: line-through;
  }
}

@keyframes call-shake {
  10%,
  90% {
    transform: scale(1.05);
  }

  20%,
  80% {
    transform: scale(1.1);
  }

  30%,
  50%,
  70% {
    transform: scale(1.05);
  }

  40%,
  60% {
    transform: scale(1.1);
  }
}
